.gl-footer {
  text-align: center;
  background-color: $black;
  padding: 12px 15px;
  margin-top: 30px;
  border-top: 1px solid $secondary;

  @media screen and (max-width: $mobileWidth) {
    margin-top: 15px;
  }
}