.gl-btn {
  color: $white;
  font-size: 15px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 120px;
  border: 1px solid $white;
  border-radius: 25px;
  padding: 8px 20px;
  line-height: 1;
  transition: $transition;

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    color: $gray;
    font-weight: 200;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: transparent;
    border-width: 1px;
  }

  &--rounded {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
  }

  &--primary {
    border-color: $primary;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $primary;
      }
    }
  }

  &--secondary {
    border-color: $secondary;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $secondary;
      }
    }
  }

  &--success {
    border-color: $success;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $success;
      }
    }
  }

  &--warning {
    border-color: $warning;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $warning;
      }
    }
  }
}
