.btn {
  color: $white;
  font-size: 15px;
  font-weight: 400;
  background-color: $black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 90px;
  border: 2px solid $white;
  padding: 8px 16px;
  line-height: 1;
  transition: $transition;

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: transparent;
  }

  &.btn--rounded {
    min-width: 40px;
    border-radius: 50%;
    padding: 0 0 2px 0;
  }

  &-primary {
    border-color: $primary;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $primary;
      }
    }
  }

  &-success {
    border-color: $success;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $success;
      }
    }
  }

  &-warning {
    border-color: $warning;

    &:not(:disabled):not([disabled]) {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px 2px $warning;
      }
    }
  }
}
