// Colors
$white: #FFF;

// TODO: add some new gray (like gray-100, gray-200...)
// #1D2125 (check Jira colors)
$black: #000;
$gray: #B3B3B3;
$primary: #1D354B;
$success: #41b883;
$warning: #d4273b;

// Fonts
$robotoSlab: 'Roboto Slab', serif;

// Sizes
$tabletWidth: 1195px;
$mobileWidth: 767px;

// Styles
$transition: 0.2s linear;