// Colors
$white: #FFF;
// TODO: consider use little bit white-gray color for main text

$black: #000;
$gray: #B3B3B3;
$primary: #3B6B96;
$success: #41b883;
$warning: #d4273b;

// Fonts
$robotoSlab: 'Roboto Slab', serif;

// Sizes
$tabletWidth: 1195px;
$mobileWidth: 767px;

// Styles
$transition: 0.2s linear;