.gl-input-text {
  border: 1px solid $secondary;
  border-radius: 5px;

  &:hover,
  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    border-color: $black;
  }

  &::placeholder {
    font-weight: 100;
    color: $gray;
    text-transform: lowercase;
    text-align: right;
  }
}
