.gl-movie-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5px 0;

  &__go-back {
    margin-top: 10px;
  }

  @import './MovieDetails.scss';
  @import './UnlistedMovieActions.scss';
}
