.movie-details {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  width: fit-content;

  @media screen and (max-width: $mobileWidth) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 650px) {
    padding: 15px 10px;
  }

  &__poster {
    flex-grow: 1;
    display: flex;
    max-width: 100%;
    height: auto;
    min-height: 400px;
    width: 310px;

    @media screen and (max-width: $mobileWidth) {
      width: auto;
      max-width: 100%;
      min-height: auto;
      margin-bottom: 15px;
    }

    img {
      object-fit: cover;
    }
  }

  &__title {
    text-align: center;
    max-width: 500px;
    line-height: 1;
    font-size: 28px;
    font-weight: 400;
    padding: 0 30px 15px 30px;
    border-bottom: 1px solid rgba($secondary, 0.5);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    padding-left: 15px;

    @media screen and (max-width: $mobileWidth) {
      padding: 0;
    }

    &-items {
      margin: 10px 0;
    }

    &-item {
      max-width: 500px;
      font-size: 15px;
      padding: 4px 12px;
      border-left: none;
      font-weight: 200;

      &:not(:first-child) {
        margin-top: 5px;
      }

      b {
        display: inline-block;
        margin-right: 7px;
      }
    }
  }
}