.gl-unlisted-movie-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid rgba($primary, 0.5);
  overflow: hidden;

  button {
    font-weight: 300;
    border-radius: 100px;

    &:last-child {
      background-color: $primary;
    }
  }
}