.gl-home-page {
  display: flex;

  // TODO: split
  .gl-get-started-content {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    padding: 10px;
    font-weight: 400;
    font-size: 32px;

    @media screen and (max-width: $mobileWidth) {
      font-size: 28px;
    }

    @media screen and (max-width: 450px) {
      font-size: 24px;
    }

    span {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // TODO: here import UI styles
}
