.gl-searched-movie-view {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0;

  @media screen and (max-width: 650px) {
    width: 100%;
  }

  &__wrapper {
    background-color: $black;
    border: 1px solid $primary;
    padding: 10px;
  }

  .movie-details {
    border: none;
    padding: 0;

    .movie-details__info-item:nth-last-of-type(2) {
      margin-bottom: auto;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $primary;

    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    margin-top: 10px;

    button {
      font-weight: 300;

      &:first-child {
        margin-right: 15px;
      }
    }
  }
}